<h3>Transactions Status</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Operator</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for val in trans %}
                <tr>
                    <td>{{val.phnumber}}</td>
                    <td>{{val.operator}}</td>
                    <td>{% if val.is_successful %}
                            {{val.is_successful}}
                        {% else %}
                            <a href='/recharge/{{val.pk}}/'>Recharge Now</a>
                        {% endif %}
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
