<h2>{{ message }}</h2>
Your current balance is Rs. {{ user.useraccount.balance }}. Recharge will be done for Rs 10.
<form method="POST">
    {% csrf_token %}
    <label>Choose Recharge Provider</label>
    {% for api in apis %}
        <input type='radio' name='api' value={{api.pk}}>{{api.name}}
    {% endfor %}
    {% if user.useraccount.balance >= 10 %}
        <input type='submit'>
    {% else %}
        <br/>
        You dont have enough balance to recharge. Please goto <a href="/profile/addmoney/">here</a> to recharge
    {% endif %}

</form>