<html>
<head>
    <title>Add Money in account</title>
</head>
<body>
    <h2>Add money in your account</h2>
    <a href="/profile/mynumbers/">My Numbers</a>
    <a href="/profile/addmoney/">Add money</a>
    <a href="/">Add Phone Numbers</a>
    <hr>
    <h3>Currently you have: Rs {{current_balance}}</h3>
    <form method="POST">
        {% csrf_token %}
        <label>Add Money to add in your account</label>
        <input type='text' name='balance'/>
        <input type='submit'>
    </form>
</body>
</html>
