<html lang="en" ng-app="rechargeApp">
    <head>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular-route.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular-resource.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular-cookies.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
    </head>

    <body>
        {% if user.is_authenticated %}
            <ul>
                <li><a href="#/numbers/">My Numbers</a></li>
                <li><a href="#/addmoney/">Add Money</a></li>
                <li><a href="#/number/add/">Add Numbers</a></li>
                <a href="/logout">Logout</a>
            </ul>
            <div ng-view></div>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </body>
</html>